<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
  }
</style>
<div class="message-content">
  <p>Olá {{ name }}</p>
  <p>Uma solicitação de recuperação de senha do seu usuário foi recebida</p>
  <p>Se realmente deseja recuperar a senha clique no link abaixo para que possamos realizar a mudança da senha</p>
  <p><a href="{{ link }}">Clique aqui para recuperar a sua senha</a></p>
  <p>Caso não tenha sido você que tenha realizado essa solicitação, por favor ignore esse email</p>
</div>
